@use 'abstracts';

.loading {
    display: flex;
    justify-content: center;
}

.loading--full-height {
    align-items: center;
    height: 100%;
}

.loading::after {
    content: '';
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid transparent;
    border-top-color: abstracts.$white;
    border-right-color: abstracts.$white;
    border-radius: 50%;
    animation: loading 0.75s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}