@use 'abstracts';

// .logo is the containing div for the icon and the h1
// (.logo-icon and .logo-text)

a.logo-link {
  // color: inherit;
  // color: abstracts.$black;
  color: abstracts.$darkergrey;
  text-decoration: none;

  // override the universal background hover link effect
  background: none;

  // no focus for now, until you fix it staying focussed on click

  // transition: all ease 250ms;
  // no hover either, until you come up with a better idea!
  // try transform scale - nah transition is blurry and no transition looks cheap
  //&:hover {
  //  transform: scale(1.05);
  //  }
}

// try setting font-sizes to em then control the size from
// .logo div in rem with media query for tiny-screen
// nope - makes the icon shift around in its circle each time the header shows

.logo {

  flex-direction: row;
  // align-content: flex-start;

  // NB! we have to use --gap to set gap, because of the way the gap property is set up in our flex utility class
  // see utilities/_flex.scss for --gap info
  --gap: 0.25rem;
}
// .logo-text is the h1
.logo-text {
  // border: 1px solid cyan;
  margin: 0;
  // push it down a touch, it's a bit high relative to the nav text and possibly the icon
  // padding-top: 0.02rem;
  // and push it away from the icon a touch
  padding-left: 0.1rem;
  font-size: 1.25rem;

  // rem very slightly different to em with letter-spacing
  letter-spacing: -0.02rem;
  // letter-spacing: -0.016em;

  @include abstracts.tiny-screen {
    font-size: 1rem;
    // needs a bit of something to keep it level with nav toggle hamburger
    padding-top: 0.1rem;
  }
}

.logo-icon {

  margin-top: 0.2rem;
  font-size: 0.8rem;

  @include abstracts.tiny-screen {
    font-size: 0.7rem;
  }

  // hide until fonts are loaded - see fontsready.js
  visibility: hidden;
}

// maybe a utitlity class for this, but just do a dedicated class for now
.logo-icon.ready {
  visibility: visible;
}

.logo-icon--inner {
  color: abstracts.$white;
  // margin: 0;
}
